{% extends 'base.html' %} {% load static %}
{% block title %}Список команд{% endblock %} {% block styles %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/teams.css' %}" />
{% endblock %} {% block content %}
<h1>Список команд</h1>
<table>
  <thead>
    <tr>
      <th>Название команды</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>
        <a href="{% url 'teams-detail' team.id %}">
          <button>Подробнее</button>
        </a>
        <button class="delete-btn" onclick="confirmDelete('{{ team.id }}')">
          Удалить
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts %}{{ block.super }}
<script src="{% static 'js/teams.js' %}"></script>
{% endblock %}
