.mian-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #282828;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.main-h1 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3rem;
}

#ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(6, 92, 6);
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
