.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh;
  }

  .chat-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .form-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  .form-input:focus {
    outline: none;
    border: 2px solid #5ebd3e;
  }

  .form-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #5ebd3e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .form-button:hover {
    background-color: #4da533;
  }
