{% extends 'base.html' %} {% load static %} {% block title %}Подробная
информация о матче{% endblock %} {% block styles %}{{ block.super }}
<link rel="stylesheet" href="{% static 'css/game.css' %}" />
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Mono"
  rel="stylesheet"
/>{% endblock %} {% block content %}

<div class="grid-container">
  <h1 class="title">Подробная информация о матче</h1>
  <form id="game-form">
    {% csrf_token %}
    <label for="date_of_the_match" >Дата матча:</label>
    <input
      type="date"
      id="date_of_the_match"
      name="date_of_the_match"
      value="{% if game.date_of_the_match %}{{ game.date_of_the_match|date:'Y-m-d' }}{% endif %}"
      {% if not user.is_staff %} disabled {% endif %}
    />

    <label for="main_judge">Главный судья:</label>
    <input
      type="text"
      id="main_judge"
      name="main_judge"
      value="{{ game.main_judge|default:'' }}"
      {% if not user.is_staff %} disabled {% endif %}
    />
    <label for="team1">Команда 1:</label>
    <select id="team1" name="team1" {% if not user.is_staff %} disabled {% endif %}>
      {% for team in teams %} {% if game.teams.all.0.id == team.id %}
      <option value="{{ team.id }}" selected>{{ team.name }}</option>
      {% else %}
      <option value="{{ team.id }}">{{ team.name }}</option>
      {% endif %} {% endfor %}
    </select>

    <label for="team2">Команда 2:</label>
    <select id="team2" name="team2" {% if not user.is_staff %} disabled {% endif %}>
      {% for team in teams %} {% if game.teams.all.1.id == team.id %}
      <option value="{{ team.id }}" selected>{{ team.name }}</option>
      {% else %}
      <option value="{{ team.id }}">{{ team.name }}</option>
      {% endif %} {% endfor %}
    </select>

    <label for="result">Результат:</label>
    <input
      type="text"
      id="result"
      name="result"
      value="{{ game.result|default:'' }}"
      {% if not user.is_staff %} disabled {% endif %}
    />
    <button type="submit" id="save-btn" {% if not user.is_staff %} hidden {% endif %}>Сохранить</button>
  </form>
</div>
{% endblock %} {% block scripts %}{{ block.super }}
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}
