{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Главная{% endblock %}</title>
    {% block styles %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'main' %}">Главная</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="titlesDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Титулы
              </a>
              <ul class="dropdown-menu" aria-labelledby="titlesDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'titles-list' %}"
                    >Все Титулы</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'titles-create' %}"
                    >Создать Титул</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="teamsDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Команды
                </a>
                <ul class="dropdown-menu" aria-labelledby="teamsDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'teams-list' %}"
                      >Все Команды</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'teams-create' %}"
                      >Создать Команду</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="gamesDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Игры
                </a>
                <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'games-list' %}"
                      >Все Игры</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'game-create' %}"
                      >Создать Игру</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'table' %}">Таблица</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'chat' %}">Чат</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">{% block content %}{% endblock %}</div>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>
