{% extends "base.html" %}
{% load static %}
{% block title %}Выбор чата{% endblock %}
{% block styles %} {{ block.super }}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/select_chat.css' %}"
/>
{% endblock %} {% block content %}
<div class="chat-container">
  <form id="chat-form" class="chat-form">
    {% csrf_token %}
    <label for="room-name" class="form-label">Введите название чата</label>
    <input
      type="text"
      id="room-name"
      name="room-name"
      class="form-input"
      required
    />
    <input type="text" id="username" class="username" hidden value="{{ request.user.username }}">
    <button type="submit" id="submit-btn" class="form-button">Войти</button>
  </form>
</div>
{% endblock %} {% block scripts %} {{ block.super }}
<script src="{% static 'js/select_chat.js' %}"></script>
{% endblock %}
