{% extends 'base.html' %} {% load static %} {% block title %}Список
титулов{%endblock %} {% block styles %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/titles.css' %}" />
{% endblock %} {% block content %}
<h1>Список титулов</h1>
<table>
  <thead>
    <tr>
      <th>Название титула</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for title in titles %}
    <tr>
      <td>{{ title.name }}</td>
      <td>
        <a class="button" href="/titles/{{ title.id }}">Подробнее</a>
        {% csrf_token %}
        <button class="button delete-button" data-title-id="{{ title.id }}" {% if not user.is_staff  and title.user_id != request.user.id %} hidden {% endif %}>
          Удалить
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts %}{{ block.super }}
<script src="{% static 'js/titles.js' %}"></script>
{% endblock %}
