{% extends 'base.html' %} {% load static %}
{% block title %}Информация о титуле{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/title.css' %}" />{{ block.super }}
{% endblock %} {% block content %}
<div class="title-container">
  <h1>Информация о титуле</h1>
  <form id="title-form">
    {% csrf_token %}
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" value="{{ title.name }}" {% if not user.is_staff and title.user_id != request.user.id %} disabled {% endif %}/>
    <br />
    <input type="hidden" id="title-id" name="title_id" value="{{ title.pk }}" />
    <input type="submit" value="Сохранить" class="save-btn"{% if not user.is_staff and title.user_id != request.user.id %} hidden {% endif %}/>
  </form>
</div>
{% endblock %} {% block scripts %} {{ block.super }}
<script src="{% static 'js/title.js' %}"></script>
{% endblock %}
